/* 전체 페이지 배경 및 중앙 정렬 */
.LFIEtireDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* 배경색 흰색으로 변경 */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* 헤더 테이블 */
  .LFIHeaderTable {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse; /* 테이블 셀의 경계선 없애기 */
  }
  
  .LFIHeaderTableLabel {
    font-size: 2rem;
    font-weight: 600;
    /* color: #e0c48b; 텍스트 색상 */
    color: black;
    margin-bottom: 2%;
  }
  
  /* 센터의 입력 영역 */
  .LFICenterPrintDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: white; /* 흰색 배경 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* 제목 */
  .LFICenterPrintDivh3 {
    font-size: 1.5rem;
    color: #e0c48b;
    margin-bottom: 10px;
  }
  
  .LFICenterPrintDivh4 {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
  }
  
  /* 입력 테이블 */
  .LFICenterTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: separate; /* border-collapse를 separate로 설정 */
    border-spacing: 0; /* 셀 간의 간격을 없애기 위해 설정 */
    border-radius: 10px; 
  }
  
  .LFICenterTable td {
    padding: 12px;
    text-align: left; /* 글자 왼쪽 정렬 */
    font-size: 1rem;
    color: #333;
    background-color: transparent; /* 배경색 없애기 */
    border: none; /* 테두리 없애기 */
  }
  
  /* 입력 필드 */
  .LFICenterTable input {
    width: 90%;
    padding: 12px;
    border: 1px solid #e0c48b;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f7f1e5; /* 연한 회색 배경 */
    outline: none;
    transition: border 0.3s ease;
  }
  
  .LFICenterTable input:focus {
    border-color: #d4a850;
  }
  
  /* 버튼 스타일 */
  .LFIBtn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #f7f1e5; /* 크림톤 배경 */
    color: #e0c48b;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
  }
  
  .LFIBtn:hover {
    background-color: #e0c48b; /* Hover 시 배경색 */
    color: white;
  }
  
  .LFIBtn:active {
    background-color: #d4a850; /* Active 시 배경색 */
    color: white;
  }
  